.DS_Store
*.log

Extension/node_modules/
Extension/dist/
Extension/dist-ssr/
Extension/*.local
Extension/.vscode/*
Extension/!.vscode/extensions.json
Extension/.idea/
Extension/*.suo
Extension/*.ntvs*
Extension/*.njsproj
Extension/*.sln
Extension/*.sw?

Server/node_modules/
Server/build/
Server/*.local
Server/.idea/
Server/dist
