html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  min-width:350px;
  min-height:390px;
}
